[submodule "kujenga-blockchain-gui"]
	path = kujenga-blockchain-gui
	url = https://github.com/Kujenga-Network/kujenga-blockchain-gui.git
	branch = main
[submodule "mozilla-ca"]
	path = mozilla-ca
	url = https://github.com/Kujenga-Network/mozilla-ca.git
        branch = main
